<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295977581624-e9tbt3l0qvot6ffilobrct0k1o6171r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295977581624-e9tbt3l0qvot6ffilobrct0k1o6171r1</string>
	<key>API_KEY</key>
	<string>AIzaSyCKPdk9e_-Q9vvV3Fp2yIDLjE5xC5CXWvY</string>
	<key>GCM_SENDER_ID</key>
	<string>295977581624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Aitu.Authorization</string>
	<key>PROJECT_ID</key>
	<string>authorization-9ea2f</string>
	<key>STORAGE_BUCKET</key>
	<string>authorization-9ea2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295977581624:ios:4265629733aaf55789facd</string>
</dict>
</plist>